.worldclock-widget {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
}

.clock-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}

.clock-item .label {
  flex: 1;
}

.clock-item .time {
  font-weight: bold;
}

.country-list {
  height: 300px;
  overflow-y: scroll;

  & .panel-in-panels {
    cursor: pointer;
  }
}
