/* vista de widget */
.movie-widget-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.movie-widget-grid li {
  background: var(--panel-inside);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--white-color);
}

/* modal movies */
.dialog-scroll-container {
  height: 500px;
  display: flex;
  gap: 1rem;
  overflow-x: hidden;
}

.scroll-column {
  overflow-y: auto;
  height: 100%;
  flex: 1;
}

.dialog-scroll-container > .scroll-column:nth-child(1) {
  flex: 0 0 30%;
}

/* segunda columna: 70% */
.dialog-scroll-container > .scroll-column:nth-child(2) {
  flex: 0 0 68%;
}

.movie-widget {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 4px;
  margin-bottom: 0;

  & img {
    height: 100px;
    padding: 10px 0;
  }
}

.movie-overview {
  font-size: 11px;
  line-height: 1.2;
  color: #f5f5f5ab;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.movie-overview:hover {
  font-size: 13px;
  color: var(--white-color);
  -webkit-line-clamp: unset;
  white-space: normal;
  overflow: visible;
  z-index: 10;
  padding: 4px;
  border-radius: 4px;
}
