body,
.main-container,
.kanban-widget {
  transform: none !important;
  will-change: auto !important;
}

.kanban-widget {
  display: flex;
  flex-direction: column;
  height: 100%;
  transform: none !important;
  position: relative;
}

.kanban-board {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 16px;
  flex: 1;
}

.kanban-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--panel-inside);
  border-radius: var(--border-radius);
  padding: 12px;
  overflow: hidden; /* para que el body se encargue del scroll */
  border: 1px solid var(--line-color);
  transition: background-color 0.2s;
}

.kanban-column.drag-over {
  background-color: #3c4858;
  border: 1px dashed var(--pistacho-color);
}

.kanban-column h6 {
  margin-bottom: 12px;
  font-size: 16px;
  color: var(--white-color);
  font-weight: 600;
}

.kanban-card {
  background-color: var(--panel);
  border-radius: 0 8px 8px 0;
  padding: 10px 12px;
  margin-bottom: 10px;
  box-shadow: var(--box-shadow);
  color: var(--white-color);
  cursor: grab;
  transition: transform 0.2s, box-shadow 0.2s;
  user-select: none;
}

.kanban-card:active {
  cursor: grabbing;
}

.kanban-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.importance-high {
  border-left: 4px solid #ff5252;
}

.drag-preview {
  padding: 10px 12px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--panel);
  opacity: 0.9;
  color: var(--white-color);
  pointer-events: none;
  transform: translateY(-50%) !important;
}

.dnd-kit-overlay {
  position: fixed !important;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.kanban-column.is-active-dropzone {
  border: 2px dashed var(--pistacho-color);
  background-color: rgba(255, 255, 255, 0.02);
  transition: all 0.2s ease;
}

.kanban-column-body.droppable-hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.kanban-card-settings {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  color: var(--text-color);
  opacity: 0.7;
  transition: opacity 0.2s;
}

.kanban-card-settings:hover {
  opacity: 1;
}

.kanban-column-header {
  padding: 4px 0 var(--gap) 0;
  margin-bottom: var(--gap);
}

.kanban-column-header.todo {
  border-bottom: 2px solid #b3941a; /* amarillo */
}

.kanban-column-header.inprogress {
  border-bottom: 2px solid #3877a1; /* azul */
}

.kanban-column-header.done {
  border-bottom: 2px solid #299154; /* verde */
}

@media (max-width: 768px) {
  .kanban-board {
    flex-direction: column;
    overflow-x: visible;
    overflow-y: auto;
  }

  .kanban-column {
    min-width: 100%;
    max-height: none;
    margin-bottom: 16px;
  }
}
