.group-expenses-widget {
  background-color: var(--panel-inside);
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-expenses-widget h5 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white-color);
  margin-bottom: 0;
}

.group-expenses-widget h6 {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--pistacho-color);
  font-weight: 600;
}

.group-expenses-widget .list-group {
  background: transparent;
}

.group-expenses-widget .list-group-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--line-color);
  color: var(--text-color);
  padding: 0.4rem 0;
  font-size: 0.95rem;
}

.group-expenses-widget .list-group-item:last-child {
  border-bottom: none;
}

.group-expenses-widget .form-check-input:checked {
  background-color: var(--pistacho-color);
  border-color: var(--pistacho-color);
}
