.group-expenses-widget {
  color: var(--text-color);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-expenses-widget h6 {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--pistacho-color);
  font-weight: 600;
}

.group-expenses-widget .list-group {
  background: transparent;
}

.group-expenses-widget .list-group-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--line-color);
  color: var(--text-color);
  padding: 0.4rem 0;
  font-size: 0.95rem;
}

.group-expenses-widget .list-group-item:last-child {
  border-bottom: none;
}

.group-expenses-widget .form-check-input:checked {
  background-color: var(--pistacho-color);
  border-color: var(--pistacho-color);
}

.p-accordion .p-accordion-header {
  background-color: transparent;
  border-bottom: 1px solid var(--line-color);
  color: var(--white-color);
}

.p-accordion .p-accordion-content {
  background-color: transparent;
  color: var(--text-color);
}
