:root {
  --s-gap: 4px;
  --m-gap: 8px;
  --gap: 16px;
  --light-pistacho-color: #bad8ad;
  --pistacho-color: #90b083;
  --dark-pistacho-color: #63795a;
  --red-color: #e6544a;
  --green-color: #57e64a;
  --white-color: #f5f5f5;
  --text-color: #d4d4d4;
  --black-color: #0b0c0e;
  --bg-color: #25303d;
  --line-color: #394b5e71;
  --panel: #1a232f;
  --panel-inside: #141d29;
  --panel-hover: #394b5e;
  --font-size: 14px;
  --font-family: "Inter", sans-serif;
  --border-radius: 16px;
  --box-shadow: 10px 10px 40px 1px rgba(0, 0, 0, 0.21);
}

html {
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family: var(--font-family);
  overflow-x: hidden;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: unset;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

/* Structure */
body {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-size);
}

h5 {
  font-size: 1rem;
}

.app-wrapper {
  width: 100vw;
  position: relative;
}

.wrap-navbar {
  background-color: var(--black-color);
  width: 80px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  z-index: 5000;
}

.wrap-main {
  width: clac(100vw - 80px);
  margin-left: 80px;
  background-color: var(--bg-color);
  min-height: 100vh;
}

/* nav groups */
.v-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: 100dvh;
  background-color: #0e141a;
}

.wrap-logo {
  color: var(--white-color);
  display: flex;
  font-size: 2rem;
  align-items: center;
  font-weight: 400;
  font-style: normal;
  width: 80px;
  overflow: hidden;
  padding: 10px;

  & img {
    width: 70px;
  }
}

.sidebar-groups {
  width: 80px;
  padding-top: var(--gap);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.group-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 1px solid transparent;
  padding: 0;
  cursor: pointer;
  border-radius: 30px;
  background: #3b3c3b;
  width: 40px;
  height: 40px;
  aspect-ratio: 1 / 1;
  overflow: hidden;

  pointer-events: auto;
  user-select: none;
}

.group-btn.active {
  outline: 2px solid var(--pistacho-color);
  box-shadow: 0 0 5px 2px rgba(144, 176, 131, 0.8);
}

.group-btn-new:hover,
.group-btn:hover {
  outline: 2px solid var(--dark-pistacho-color);
  border-radius: 50%;
}

.group-btn-new {
  background: #3b3c3b;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.group-btn.editing {
  animation: shake 0.4s infinite;
  position: relative;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(0.5px, -0.5px) rotate(-1deg);
  }
  50% {
    transform: translate(-0.5px, 0.5px) rotate(1deg);
  }
  75% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  100% {
    transform: translate(0px, -0.5px) rotate(-1deg);
  }
}

.drag-handle {
  margin-right: 4px;
  cursor: grab;
  user-select: none;
  color: var(--text-color);
  opacity: 0.4;
  transition: opacity 0.2s;
}

.group-btn:hover .drag-handle {
  opacity: 1;
}

.header-user {
  padding-top: var(--gap);
  margin-top: auto;
  padding: 5px;
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-user-open {
  border-radius: 10px 10px 0 0;
  background-color: var(--panel-hover);
}

.avatar-wrapper .rounded-circle {
  top: 7px;
  right: -15px;
  width: 18px;
  height: 18px;
}

.custom-menu {
  position: absolute;
  right: 27px;
  top: 68px;
  background-color: var(--panel-hover);
  border: 1px solid var(--line-color);
  border-radius: 0 0 10px 10px;
  padding: 8px 0;
  width: 200px;
  box-shadow: 0px 20px 40px 1px rgba(0, 0, 0, 0.21);
  z-index: 9999;
}

.dropdown-item {
  padding: 8px 12px;
  font-size: 0.9rem;
  color: var(--text-color);
  background: none;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--panel);
}

.dropdown-divider {
  margin: 6px 0;
  border-color: var(--line-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* dialog new group */
.new-group {
  font-size: 1.5rem;
  color: var(--pistacho-color);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: var(--panel-hover);
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-image-wrapper {
  position: relative;
  width: 96px;
  height: 96px;
  margin: 0 auto;
}

.group-image-label {
  display: block;
  position: relative;
  cursor: pointer;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
}

.group-image-avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  background-color: var(--black-color);
}

.group-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.group-image-label:hover .group-image-overlay {
  opacity: 1;
}

.group-image-overlay i {
  font-size: 1.4rem;
}

.wrap-group-members {
  border-top: 1px solid var(--line-color);
}

.cs-border-top {
  border-top: 1px solid var(--line-color);
}

.cs-border-bottom {
  border-bottom: 1px solid var(--line-color);
}

/* TOOLTIP */

.tooltip-wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%) translateX(8px);
  background-color: var(--panel-hover);
  color: var(--text-color);
  padding: 6px 10px;
  border-radius: 6px;
  white-space: nowrap;
  /* opacity: 0; */
  pointer-events: none;
  font-size: 0.85rem;
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 5000;
}

.tooltip-wrapper:hover .tooltip {
  opacity: 1;
  transform: translateY(-50%) translateX(5px);
}

/* panels */
.panels {
  padding: var(--gap);
  border-radius: 30px;
  background-color: var(--panel);
}

.panel-in-panels {
  background-color: var(--panel-inside);
  padding: 10px;
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.auth-card {
  background-color: var(--black-color);
  border-radius: 1rem;
  padding: 2rem;
}

.auth-card label {
  color: var(--text-color);
}
/* c/ gropu */
.nav-groups {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--m-gap);
  padding: var(--s-gap) var(--m-gap) var(--s-gap) var(--s-gap);
  border-radius: 30px;
  background-color: var(--panel);
  border: 1px solid var(--bg-color);
  cursor: pointer;
  font-weight: 500;

  & .ng-name {
    padding-right: var(--gap);
    font-weight: 500;
    font-size: 0.9rem;
    white-space: nowrap;
  }
}

.nav-groups:hover {
  border: 1px solid var(--panel-hover);
}

.nav-groups.active {
  background-color: var(--light-pistacho-color);
  border-color: var(--light-pistacho-color);

  & .ng-name {
    color: var(--black-color);
  }
}

@media (min-width: 768px) {
  .scroll-arrow {
    display: flex;
  }
}

/* btns */
.wrap-btn {
  flex: 0 0 auto;
}

/* checkbox custom */
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.custom-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid var(--pistacho-color);
  border-radius: 4px;
  transition: all 0.2s ease;
}

.custom-checkbox input:checked + .checkmark {
  background-color: var(--pistacho-color);
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + .checkmark::after {
  display: block;
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* header-dashboard */
.header-dashboard {
  display: flex;
  height: 80px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--gap);
}

.dashboard-empty {
  position: relative;
  top: -10px;
  left: 40px;

  & .bi-arrow-up {
    padding-left: 85px;
  }
}

/* widget-zone */
.widget-content {
  height: 100%;
  background: var(--panel, #fff);
  border-radius: 0.5rem;
  padding: var(--gap);
  box-shadow: var(--shadow, 0 0 10px rgba(0, 0, 0, 0.1));
  overflow-y: auto;
  transition: all 0.2s ease;
  align-items: flex-start;
}

.wc-edit {
  outline: 1px dashed var(--pistacho-color);
  outline-offset: -1px; /* Ajustá según tu padding */
  z-index: 100;
}

.wc-edit-cont {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #0b0c0eb9;
  z-index: 100;
}

.widget-handle {
  top: 0;
  left: 0;
  width: 30px;
  height: 40px;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.5rem;
  cursor: grab;
  background-color: var(--pistacho-color);
  border-radius: 8px 0 8px 0;
  text-align: center;
}

.widget-delete {
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  line-height: 40px;
  cursor: grab;
  background-color: var(--red-color);
  border-radius: 0 8px 0 8px;
  text-align: center;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 100;
  border-radius: 8px 0 8px 0;
  background-color: var(--pistacho-color);
}

.react-resizable-handle {
  background-image: none;
}

.react-grid-item > .react-resizable-handle::after {
  content: "\21F2";
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 35px;
  height: 35px;
  border-right: 0;
  border-bottom: 0;
  color: var(--black-color);
  font-size: 1.5rem;
  text-align: center;
  line-height: 28px;
}

/* widget-card */
.widget-card {
  background-color: var(--panel-inside);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 180px;
  width: 100%;
  padding: var(--gap);

  & img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
    display: block; /* evita espacios fantasmas debajo */
  }

  & .icon-placeholder {
    font-size: 2rem;
    color: #ccc;
  }
}

/* misc */
.fs-cs-1 {
  font-size: 1rem;
}

.fs-cs-09 {
  font-size: 0.9rem;
}

.color-pistacho {
  color: var(--pistacho-color);
}

.bg-pistacho {
  background-color: var(--dark-pistacho-color);
}

.color-text {
  color: var(--text-color);
}

.color-red {
  color: var(--red-color) !important;
}

.bg-red {
  background-color: var(--red-color);
}

.color-green {
  color: var(--green-color) !important;
}

.bg-green {
  background-color: var(--green-color);
}

.btn-pistacho {
  padding: 0 var(--gap);
  background-color: var(--pistacho-color);
  color: var(--black-color);
  border: 2px solid var(--pistacho-color);
  cursor: pointer;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;

  & .p-button-label {
    font-size: 1rem;
    font-weight: normal;
  }
}

.btn-pistacho-small {
  padding: 0 var(--gap);
  background-color: var(--pistacho-color);
  color: var(--black-color);
  border: 2px solid var(--pistacho-color);
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
}

.btn-pistacho:hover,
.btn-pistacho-small:hover {
  border: 2px solid var(--dark-pistacho-color);
}

.btn-pistacho-outline {
  padding: 0 var(--gap);
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  color: var(--white-color);
  border: 1px dashed transparent;
  cursor: pointer;
}

.btn-pistacho-outline:hover {
  color: var(--pistacho-color);
}

.btn-transp-small {
  padding: 0 var(--gap);
  background-color: transparent;
  color: #959595;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
}

.btn-transp-small:hover {
  background-color: #383c41;
}

.btn-google {
  padding: 0 var(--gap);
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  color: #444;
  border: 1px solid #444;
  cursor: pointer;
}

.btn-google:hover {
  background-color: #ccc;
}

.cs-list-group,
.cs-list-notifications {
  background-color: var(--panel-inside);
  padding: var(--m-gap);
  min-height: 64px;
  border-radius: var(--border-radius);
}

.cs-list-group li .admin-actions {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.cs-list-group li:hover .admin-actions {
  opacity: 1;
  pointer-events: all;
}

.cs-list-group li:not(:last-child),
.cs-list-notifications li:not(:last-child) {
  border-bottom: 1px solid var(--line-color);
}

.cs-list-notifications li {
  display: flex;
  color: var(--text-color);
  flex-direction: column;
  align-items: flex-start;
}

.cs-list-notifications li.not-unread {
  background-color: var(--panel-hover);
  border-radius: 8px;
  border-bottom: 1px solid transparent;
}

.custom-input {
  line-height: 40px;
  height: 40px;
  background-color: var(--black-color);
  width: 100%;
  border-radius: 3px;
  padding: 12px;
  -moz-appearance: textfield;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-width-input {
  width: 120px !important; /* fuerza el contenedor */
}

.custom-width-input input {
  width: 100% !important; /* fuerza el input real */
  border: none; /* opcional si no querés borde */
  background-color: transparent;
  padding: 0.25rem 0.5rem;
}

.custom-width-input input:focus {
  outline: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.07); /* más clarito al focus */
}

.cw-100 {
  width: 100px !important;
}

.cw-200 {
  width: 200px;
}

/* Estilo personalizado del modal */
.new-group-dialog {
  background-color: var(--panel);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
}

.new-group-dialog .p-dialog-header {
  background-color: var(--panel);
  border-bottom: 1px solid var(--line-color);
  color: var(--white-color);
  font-weight: 600;
  padding: var(--gap);
}

.new-group-dialog .p-dialog-content {
  background-color: var(--panel);
  padding: var(--gap);
}

.new-group-dialog .p-dialog-footer {
  background-color: var(--panel);
  border-top: 1px solid var(--line-color);
}

.new-group-dialog label {
  color: var(--text-color);
}

.new-group-dialog input {
  background-color: var(--bg-color);
  border: 1px solid var(--line-color);
  border-radius: var(--border-radius);
  color: var(--white-color);
  padding: 8px;
}

.new-group-dialog input:focus {
  border-color: var(--pistacho-color);
  outline: none;
}

.new-group-dialog .p-button {
  background-color: var(--pistacho-color);
  border: none;
  border-radius: var(--border-radius);
  font-weight: 600;
  color: #fff;
}

.new-group-dialog .p-button:hover {
  background-color: var(--dark-pistacho-color);
}

.p-dialog .p-dialog-header {
  background-color: transparent;
  border-bottom: 1px solid var(--line-color);
  padding-bottom: var(--gap);
  margin-bottom: var(--gap);
}

.p-dialog .p-dialog-footer {
  background-color: transparent;
}

/* inputs */
/* Estilo base uniforme */
.input-field {
  background-color: var(--black-color);
  border: 1px solid #444;
  color: #fff;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Campo de contraseña (PrimeReact Password) */
.p-password-input {
  background-color: var(--black-color);
  border-radius: 8px !important;
  padding: 0.75rem 1rem !important;
  color: #fff !important;
  width: 100% !important;
  box-sizing: border-box;
}

.p-icon-field,
.p-password {
  width: 100% !important;
}

.p-input-icon {
  margin-top: -7px;
}

.login-card .bg-white:hover {
  opacity: 0.9;
}

/* admin-panel */
.admin-panel {
  background-color: var(--panel-inside);
  color: #f1f1f1;
  border-radius: 10px;
  padding: 1rem;
  margin: var(--gap);
}

.admin-panel .p-datatable {
  background-color: transparent;
  color: inherit;
}

.admin-panel .p-datatable .p-datatable-thead > tr > th {
  color: var(--pistacho-color);
  font-weight: 600;
  border: none;
}

.admin-panel .p-datatable .p-datatable-tbody > tr {
  color: #f1f1f1;
  border: none;
}

.admin-panel .p-button.p-button-text {
  color: #a0ff7f;
}

.admin-panel .p-button.text-danger {
  color: #ff7f7f !important;
}

/* misc */

.text-muted {
  color: #999 !important;
}

.cursor-pointer {
  cursor: pointer;
}

/* .editable-text {
  cursor: pointer;
  border: 0;
  padding: 10px;
  border-radius: 6px;
  background-color: var(--black-color);
}

.editable-text:hover {
  background-color: rgba(255, 255, 255, 0.05);
} */

.editable-text {
  padding: 8px 12px;
  background-color: var(--panel-inside);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.2s;
}

.editable-text:hover {
  background-color: var(--panel-hover);
}

.shine {
  animation: shine-glow 1.2s infinite alternate;
  box-shadow: 0 0 10px 2px var(--white-color);
}

@keyframes shine-glow {
  from {
    box-shadow: 0 0 0px 0px var(--white-color);
  }
  to {
    box-shadow: 0 0 12px 6px var(--white-color);
  }
}

/* primereact fixs */

.fuel-table-row {
  height: 48px !important; /* ajustá a tu gusto */
}

.p-datatable .p-datatable-thead {
  background-color: transparent;
}
.p-datatable .p-datatable-thead > tr > th {
  line-height: 40px;
}

.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  border: none !important;
}

.p-datatable .p-datatable-thead > tr > th {
  background: transparent !important;
  border: none !important;
  color: var(--text-color); /* opcional, si querés que el texto quede legible */
  font-weight: 600; /* o ajustá según estilo */
}

.p-datatable .p-datatable-tbody > tr {
  background: transparent !important;
}

.p-datatable .p-datatable-thead > tr {
  background: transparent !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  background: transparent !important;
}

/* Más alto visualmente */
.custom-datatable .p-datatable-tbody > tr {
  height: 30px;
  line-height: 30px;
}

/* Alternar colores más marcados */
.custom-datatable .p-datatable-odd {
  background-color: #2a2a2a; /* fila impar */
}
.custom-datatable .p-datatable-even {
  background-color: #1f1f1f; /* fila par */
}

/* Padding más grande */
.p-avatar-group .p-avatar {
  border: 0;
}

.p-avatar-group .p-avatar + .p-avatar {
  margin-left: -1rem;
  background-color: var(--panel-hover);
}

.p-datatable .p-paginator-bottom {
  background-color: transparent;
  border: none;
  padding: 10px 0;
}

.p-dialog {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  max-height: 90%;
  transform: scale(1);
  position: relative;
  background: var(--bg-color) !important;
  padding: 20px;
}

.p-inputtext {
  background-color: var(--black-color);
  border: 0;
  padding: 10px;
}

.p-dialog .p-dialog-header,
.p-dialog .p-dialog-content {
  background-color: transparent;
}

/* MOBILE  */

@media (max-width: 600px) {
  /* layout */
  .container-fluid {
    --bs-gutter-x: 0.5rem;
  }

  .app-wrapper .menu-hamb {
    position: absolute;
    top: 12px;
    left: 0px;
    padding: 10px;
    font-size: 1.2rem;
  }

  .wrap-navbar {
    position: fixed;
    width: 80px;
    left: -120px;
    top: 0;
    height: 100dvh;
    z-index: 5000;
    transition: all 0.2s ease;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
    background-color: var(--panel, #1c1d1e);
  }

  .wrap-navbar-open {
    left: 0;
  }

  .overlay-navbar {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4000;
  }

  .header-dashboard {
    padding-left: 30px;
  }

  .header-dashboard div {
    display: flex;

    & #save-as-template,
    & #edit-dashboard,
    & #add-widget {
      display: none;
    }
  }

  .wrap-main {
    margin-left: 0px;
  }

  /* end layout */

  .login-card {
    padding: 2rem 1.5rem !important;
    border-radius: 1rem !important;
  }

  .login-card img {
    width: 50px !important;
  }

  .btn {
    font-size: 0.95rem;
    padding: 0.6rem 1.2rem;
  }

  .form-label {
    font-size: 0.85rem;
  }
}
