:root {
  --s-gap: 4px;
  --m-gap: 8px;
  --gap: 16px;
  --light-pistacho-color: #aac79e;
  --pistacho-color: #90b083;
  --dark-pistacho-color: #748d6a;
  --white-color: #f5f5f5;
  --text-color: #d4d4d4;
  --black-color: #1b2531;
  --bg-color: #25303d;
  --line-color: #394b5e;
  --panel: #212529;
  --panel-inside: #1c1d1e;
  --panel-hover: #394b5e;
  --font-size: 16px;
  --font-family: "Inter", sans-serif;
  --border-radius: 16px;
  --box-shadow: 10px 10px 40px 1px rgba(0, 0, 0, 0.21);
}

html {
  box-sizing: border-box;
  font-size: var(--font-size);
  font-family: var(--font-family);
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

/* Structure */
body {
  background: var(--bg-color);
  color: var(--text-color);
  font-size: var(--font-size);
}

/* nav */

nav {
  height: 80px;
  display: flex;
  gap: var(--gap);
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--line-color);
}

.wrap-logo {
  color: var(--pistacho-color);
  display: flex;
  font-size: 2rem;
  align-items: center;
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-style: normal;
  & img {
    width: 60px;
  }
}

.user-panel {
  padding: 10px;
  min-width: 200px;
  background: var(--panel-hover);

  & li {
    line-height: 40px;
    border: var(--line-color);
    color: var(--text-color);
    background: var(--panel-hover);
  }

  & .p-overlaypanel:after,
  .p-overlaypanel:before {
    display: none;
  }
}

/* nav groups */

.nav-scroll-wrapper {
  position: relative;
}

.nav-groups-container {
  display: flex;
  gap: var(--m-gap);
  overflow-x: auto;
  padding: 0.5rem 2rem 0.5rem 1rem;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.nav-groups-container::-webkit-scrollbar {
  display: none;
}

.scroll-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
}

.scroll-arrow.left {
  left: 0;
}

.scroll-arrow.right {
  right: 0;
}

.scroll-arrow i {
  font-size: 1rem;
  color: #333;
}

/* panels */
.panels {
  padding: var(--gap);
  border-radius: 30px;
  background-color: var(--panel);
}

.panel-in-panels {
  background-color: var(--panel-inside);
  padding: 10px;
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.auth-card {
  background-color: #1e1e1e;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 255, 150, 0.05);
}

/* c/ gropu */
.nav-groups {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--m-gap);
  padding: var(--s-gap) var(--m-gap) var(--s-gap) var(--s-gap);
  border-radius: 30px;
  background-color: var(--panel);
  border: 1px solid var(--bg-color);
  cursor: pointer;
  font-weight: 500;

  & .ng-name {
    padding-right: var(--gap);
    font-weight: 500;
    font-size: 0.9rem;
    white-space: nowrap;
  }
}

.nav-groups:hover {
  border: 1px solid var(--panel-hover);
}

.nav-groups.active {
  background-color: var(--light-pistacho-color);
  border-color: var(--light-pistacho-color);

  & .ng-name {
    color: var(--black-color);
  }
}

@media (min-width: 768px) {
  .scroll-arrow {
    display: flex;
  }
}

/* btns */
.wrap-btn {
  flex: 0 0 auto;
}

/* checkbox custom */
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.custom-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid var(--pistacho-color);
  border-radius: 4px;
  transition: all 0.2s ease;
}

.custom-checkbox input:checked + .checkmark {
  background-color: var(--pistacho-color);
}

.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + .checkmark::after {
  display: block;
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* widget-zone */
.widget-content {
  height: 100%;
  background: var(--panel, #fff);
  border-radius: 0.5rem;
  padding: var(--gap);
  box-shadow: var(--shadow, 0 0 10px rgba(0, 0, 0, 0.1));
  overflow: hidden;
  transition: all 0.2s ease;
  align-items: flex-start;
}

.wc-edit {
  border: 1px dashed var(--pistacho-color);
}

.widget-handle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #888;
  margin-bottom: 0.5rem;
  cursor: grab;
}

/* .widget-zone {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding-top: var(--gap);
}

.widget-wrapper {
  min-height: 250px;
  background: transparent;
}

.widget {
  height: 100%;
  background-color: var(--panel);
  border-radius: var(--radius);
  padding: 1rem;
  box-shadow: var(--shadow);
}

.widget-wrapper.tall {
  grid-row: span 2;
}

.widget-wrapper.placeholder .widget {
  border: 2px dashed #ccc;
  background: transparent;
} */

/* misc */
.color-pistacho {
  color: var(--pistacho-color);
}

.color-text {
  color: var(--text-color);
}

.btn-pistacho {
  padding: 0 var(--gap);
  background-color: var(--pistacho-color);
  color: var(--black-color);
  border: 1px solid var(--panel-hover);
  cursor: pointer;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
}

.btn-pistacho-small {
  padding: 0 var(--gap);
  background-color: var(--pistacho-color);
  color: var(--black-color);
  border: 1px solid var(--panel-hover);
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 15px;
  height: 30px;
  line-height: 30px;
}

.btn-pistacho:hover {
  border: 1px solid var(--pistacho-color);
}

.btn-pistacho-outline {
  padding: 0 var(--gap);
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  color: var(--pistacho-color);
  border: 1px dashed var(--panel-hover);
  cursor: pointer;
}

.btn-pistacho-outline:hover {
  border: 1px solid var(--pistacho-color);
}

/* Estilo personalizado del modal */
.new-group-dialog {
  background-color: var(--panel);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--text-color);
}

.new-group-dialog .p-dialog-header {
  background-color: var(--panel);
  border-bottom: 1px solid var(--line-color);
  color: var(--white-color);
  font-weight: 600;
  padding: var(--gap);
}

.new-group-dialog .p-dialog-content {
  background-color: var(--panel);
  padding: var(--gap);
}

.new-group-dialog .p-dialog-footer {
  background-color: var(--panel);
  border-top: 1px solid var(--line-color);
}

.new-group-dialog label {
  color: var(--text-color);
}

.new-group-dialog input {
  background-color: var(--bg-color);
  border: 1px solid var(--line-color);
  border-radius: var(--border-radius);
  color: var(--white-color);
  padding: 8px;
}

.new-group-dialog input:focus {
  border-color: var(--pistacho-color);
  outline: none;
}

.new-group-dialog .p-button {
  background-color: var(--pistacho-color);
  border: none;
  border-radius: var(--border-radius);
  font-weight: 600;
  color: #fff;
}

.new-group-dialog .p-button:hover {
  background-color: var(--dark-pistacho-color);
}

/* admin-panel */
.admin-panel {
  background-color: var(--black-color);
  color: #f1f1f1;
  border-radius: 10px;
  padding: 1rem;
}

.admin-panel .p-datatable {
  background-color: transparent;
  color: inherit;
}

.admin-panel .p-datatable .p-datatable-thead > tr > th {
  background-color: var(--black-color);
  color: var(--pistacho-color);
  font-weight: 600;
  border: none;
}

.admin-panel .p-datatable .p-datatable-tbody > tr {
  background-color: var(--black-color);
  color: #f1f1f1;
  border: none;
}

.admin-panel .p-button.p-button-text {
  color: #a0ff7f;
}

.admin-panel .p-button.text-danger {
  color: #ff7f7f !important;
}

/* primereact fixs */
.p-avatar-group .p-avatar {
  border: 0;
}

.p-avatar-group .p-avatar + .p-avatar {
  margin-left: -1rem;
  background-color: var(--panel-hover);
}

.p-datatable .p-paginator-bottom {
  background-color: transparent;
  border: none;
  padding: 10px 0;
}

.p-dialog {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  max-height: 90%;
  transform: scale(1);
  position: relative;
  background: var(--bg-color) !important;
  padding: 20px;
}

.p-inputtext {
  background-color: var(--black-color);
  padding: 10px;
}

.p-dialog .p-dialog-header,
.p-dialog .p-dialog-content {
  background-color: transparent;
}
