.wrap-check-todo {
  padding: 10px;
}

.todo-item {
  margin-bottom: 4px;
  background-color: var(--panel-inside);
  padding: 2px;
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.todo-item .todo-actions {
  opacity: 0;
  transition: opacity 0.2s ease;
  min-height: 40px;
}

.todo-item:hover .todo-actions {
  opacity: 1;
}

.mention {
  color: var(--pistacho-color);
  font-weight: bold;
}
