.wrap-check-todo {
  padding: 10px;
}

.todo-item {
  margin-bottom: 4px;
  padding: 2px;
  color: var(--text-color);
}

.todo-item .todo-actions {
  opacity: 0;
  transition: opacity 0.2s ease;
  min-height: 40px;
}

.todo-item:hover .todo-actions {
  opacity: 1;
}

.mention {
  color: var(--pistacho-color);
  font-weight: bold;
}

.badge {
  border: 2px solid transparent;
  background-color: transparent;
  opacity: 0.8;
  color: #fff !important;
  font-size: 0.75rem;
  padding: 2px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.badge-active {
  opacity: 1;
  color: #fff;
}
