@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap");

.countdown-widget {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.countdown-display {
  height: 100%;
  display: flex;
}

.countdown-digital {
  font-family: "Bitcount Prop Single", system-ui;
  color: var(--green-color);
  font-size: 2.8rem;
  /* text-align: center; */
  letter-spacing: 0.1rem;
  background-color: var(--black-color);
  padding: var(--gap) 0;
  border-radius: var(--border-radius);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.countdown-digital .colon {
  padding: 0 5px;
}
